<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/user-pc/Documents/Deel-QA-Automation-Manual-Exam"><classes><class name="tests.FixedContractTest"><methods><include name="testLogin"/><include name="testGeneralInfo"/><include name="testPaymentDetails"/><include name="testDefineDates"/><include name="testExtras"/><include name="testCompliance"/></methods></class></classes></test></suite>